/* reset styles */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #1d2029;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* import Leto font */
h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

.heading {
  color: white;
  background-color: #1d2029;
  margin: 0;
  padding: 1em 1.5rem 1em 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.header {
  background-color: #16161a;
}

.section {
  padding: 0 2.25rem 1.5rem 2.25rem;
  background-color: #1d2029;
}

.nav {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.nav__item {
  display: inline;
}

.nav__link {
  color: white;
  max-width: 33%;
  text-transform: uppercase;
}

.nav__link--active {
  max-width: 33%;
  color: #3887bb;
}

.nav__link--active::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  content: "";
  display: block;
  height: 3px;
  background-color: #3887bb;
  position: absolute;
  top: 36px;
  width: 20px;
  overflow: auto;
}

.nav__link--active:hover::before {
  width: 100%;
}

.nav__link:hover {
  color: #3887bb;
  text-decoration: none;
}

.box {
  min-height: 576.45px;
  border-radius: 0;
  overflow: hidden;
  border: none;
  margin: 0 0 4.5rem 0;
  background-color: #1d2029;
  color: #c5c5c5;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.box:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(253, 11, 64, 0.726);
          box-shadow: 0px 0px 20px 10px rgba(253, 11, 64, 0.726);
}

.card__img--dark {
  overflow: hidden;
  border-radius: 0;
}

.card__content {
  background-color: rgba(29, 32, 41, 0.61);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card__content .card__list {
  list-style: none;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

.card__content .card__list--values {
  min-width: 220px;
}

.card__content .card__listitem {
  display: block;
}

.card__listvalue {
  padding-left: 30px;
  z-index: 10;
}

.card__listvalue--HP::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #be2546;
  position: absolute;
  top: 165px;
  width: 100%;
}

.card__listvalue--MP::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #3887bb;
  position: absolute;
  top: 189px;
  width: 100%;
}

.card__listvalue--STA::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #389760;
  position: absolute;
  top: 213px;
  width: 100%;
}

.card__listvalue--EXP::before {
  content: "";
  display: block;
  height: 3px;
  background-color: #7a7a7a;
  position: absolute;
  top: 141px;
  width: 100%;
}

.card__listvalue--EXP::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 141px;
  width: 55%;
}

.card--dark {
  border-color: black !important;
}

.card__button {
  background-color: #1d2029;
  border: none;
  border-radius: 0;
  border-left: #be2546 3px solid;
  display: relative;
  color: #be2546;
  /*  &::before {
        content: "";
        display: block;
        background-color: map-get($colours , secondary );
        height: 2px; 
        width: 100%;
        position: absolute;
        
        width: 20px;
        overflow: auto;
    } */
}

.card__button:active {
  background-color: #be2546;
  border: none;
}

.card__button:hover {
  /*  box-shadow: 0px 0px 10px 3px rgba(253, 11, 64, 0.726); */
  background-color: #be2546;
  border-left: #be2546 3px solid;
}

.row {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row__column {
  width: 100%;
}

* + .row__column--space {
  margin-top: 1.5rem;
}

@media (min-width: 800px) {
  .row--unpad {
    margin: 0 -1.5rem;
  }
  .row__column {
    width: 100%;
  }
  .row__column--space {
    margin: 0;
    padding: 0 0.75rem;
  }
  .row__column--desktop-2 {
    width: 50%;
  }
  .row__column--desktop-3 {
    width: 33%;
  }
}

.sectionwrapper {
  max-width: 1150px;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */