$colours: (
    primary: rgb(56, 135, 187), 
    secondary: rgb(190, 37, 70),
    bgColour: rgb(29, 32, 41),
    onDark: rgb(43, 45, 59),
    darker: rgb(22, 22, 26),
);

$redNeon: 0px 0px 20px 10px rgba(253, 11, 64, 0.726);

$pageSpacing: 1.5rem; 

$cardHeight: 576.45px;
